./venv/
/venv
/.venv
/.vscode
*.pyc
pathsingle/data/biopax1.zip
pathsingle/data/gsea_results_matrix.npy
pathsingle/data/output_interaction_activity2.csv
pathsingle/data/output_interaction_activity.csv
pathsingle/data/activity_df.csv
pathsingle/data/output_activity.csv
pathsingle/data/sc_training.h5ad
/build
.pypirc
/dist
/pathsingle.egg-info
*.owl
*.sif
pathsingle/pathway_db/owl/Homo_sapiens.owl
pathsingle/pathway_db/owl/Homo_sapiens.sif
pathsingle/pathway_db/owl/PathwayCommons12.kegg.BIOPAX.sif
pathsingle/pathway_db/owl/*.*.*.sif
pathsingle/pathway_db/owl/*.*