./data/
./bench/scTPA/results/
./venv/
/venv
/.venv
/.vscode
/bench/PASBench/dataSets
bench/human.tar.gz
bench/refseq_select_rna.tar.gz
notebooks/simulated_gsea_results_matrix.npy
*.pyc
/notebooks/data/activity
/notebooks/data/activity
*.h5ad
notebooks/data/simulated_gsea_results_matrix.npy
notebooks/data/output_activity.csv
notebooks/data/output_activity2.csv
notebooks/data/output_activity1.csv
notebooks/data/output_activity3.csv
/notebooks/data/biopax
/notebooks/data/biopax
/notebooks/data/processed
